
//fonts

%acc-1-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  color: #242424;
}

%acc-2-mob {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #242424;
}

%acc-3-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #242424;
}

%acc-4-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

%acc-5-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #242424;
}

%acc-6-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}

%acc-7-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #000000;
}

%h1-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #242424;
  mix-blend-mode: darken;
}


%h2-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #242424;
}

%h3-list-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #242424;
}

%h4-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0.07em;
  color: #242424;
}

%h6-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #242424;
}

%body-1-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #242424;
}

%body-2-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

%list-1-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #242424;
}

%list-2-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #242424;
}

%list-3-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  padding-inline: 0;
  text-transform: uppercase;
  color: #242424;
}
