.header {
  position: fixed;
  top: 0;
  z-index: 30000;
  padding: 10px 20px;
}
.header-plug {
  height: 64px;
  background-color: #f9f9f9;
}
.header__img {
  height: 44px;
  width: 100%;
  background: url(media/main_page/logo.svg) center no-repeat;
  background-size: contain;
}

.sticky-container {
}

.type-2 {
  transition: all 0.5s ease-out;
  height: 617px;
}
.type-2-active {
  position: fixed;
  top: 46px;
  z-index: 1;
}
.type-2__header {
  /* НАШИ ВОЗМОЖНОСТИ */
  width: 100%;
  height: 16px;
  top: 52px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #f2f0ee;
}
.type-2__bottom {
  height: 84px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  padding: 10px 20px;
}
.type-2__bottom__text {
  /* 127 ВЫСОКО–ТЕХНОЛОГИЧНЫХ ПРОЦЕДУР */
  padding: 0;
  width: 278.67px;
  height: 66px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  letter-spacing: 0.03em;
  color: #000000;
}
.type-2__bottom__link {
  padding: 0;
  width: 58px;
  transform: rotate(270deg);
}
.type-2__bottom__string {
  padding: 0;
  /* MOVING STROKE */
  width: 393px;
  height: 42px;
}
.type-2__bottom__string__text {
  height: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #000000;
}

.abilities {
  background: url("../../media/type-2/bg1.webp");
  background-size: cover;
  position: sticky;
  top: 64px;
  z-index: 1;
}

.abilities-fixed {
  position: fixed !important;
  top: 2455px;
}

.doctors {
  position: sticky;
  top: 64px;
  bottom: 617px;
  z-index: 23;
  background: url("../../media/type-2/bg2.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.doctor {
  background: url("../../media/type-2/bg4.webp");
  background-size: cover;
}
