:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
}

html,
body {
  overflow-x: clip;
}

$bg-color: #f9f9f9;
$bg-color-1: #f2f2f2;

* {
  padding: 0;
  margin: 0;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.ma {
  font-family: 'Montserrat alternates';
}

//global styles - start

.acc-1-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  /* or 135% */

  color: #242424;
}

.acc-2-mob {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #242424;
}

.acc-3-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #242424;
}

.acc-4-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */
  text-transform: uppercase;
}

.acc-5-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */
  letter-spacing: 0.07em;

  color: #242424;
}

.acc-6-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  /* or 140% */
  letter-spacing: 0.02em;

  color: #000000;
}

.acc-7-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* or 120% */
  letter-spacing: 0.02em;

  color: #000000;
}

.h1-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;

  color: #242424;

  mix-blend-mode: darken;
}

.h2-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #242424;
}

.h3-list-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #242424;
}

.h4-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  letter-spacing: 0.07em;
  color: #242424;
}

.h6-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #242424;
}

.body-1-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  /* or 106% */
  color: #242424;
}

.body-2-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */
  color: #000000;
}

.list-1-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
  /* or 292% */
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #242424;
}

.list-2-mob {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */
  text-transform: uppercase;

  color: #242424;
}

.list-3-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  padding-inline: 0;
  /* or 150% */
  text-transform: uppercase;

  color: #242424;
}

//buttons
.button-big-mob {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 75px;
  gap: 10px;

  width: 353px;
  height: 50px;

  /* TEXT 1 */
  border: 1px solid #242424;
  border-radius: 50px;

  //styleName: BUTTONS MOBILE/BUTTON 1 MOB;
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-weight: 700;
  line-height: 12.19px;
  letter-spacing: 0.03em;
  text-align: center;

  &:hover {
    background: rgba(8, 229, 190, 0.5);
  }
}

.button-1-mob {
  font-family: 'Montserrat Alternates';
  font-size: 10px;
  font-weight: 700;
  line-height: 12.19px;
  letter-spacing: 0.03em;

  padding: 9px 20px 9px 20px;
  border-radius: 50px;
  border: 1px solid #242424;
  &:hover {
    background: rgba(8, 229, 190, 0.5);
  }
}

.button-2-mob {
  //arrow-link
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  column-gap: 7px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;
  &:hover {
    column-gap: 22px;
  }
}

.link-mob {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #08e5be;
  &:hover {
    text-decoration: underline;
  }
}

.filter-2-mob {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #242424;
  &_no {
    background-image: url(../../media/treatment/procedure/Ellipse_26.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
  }
  &_choosen {
    background-image: url(../../media/treatment/procedure/Ellipse_26_black.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
  }
}

.methods {
  display: flex;
  flex-direction: row;
  margin-inline: 0;
  padding-inline: 0;
  column-gap: 10px;
  .methods-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: 1;
    height: 493px;
    /* FON 2 PAGE */
    background: #d9d9d9;
    &__head {
      border-top: 1px solid #242424;
      border-bottom: 1px solid #242424;
      width: 100%;
      &_top {
        margin-top: 10px;

        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #999999;
      }
      &_bottom {
        margin-top: 26px;
        margin-bottom: 10px;

        font-family: 'Nunito Sans';
        font-size: 8px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #999999;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      &_item {
        font-family: 'Nunito Sans';
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #242424;
        padding: 16px 0;
        border-bottom: 1px solid #242424;
        width: 100%;
        text-transform: uppercase;
        &_twostring {
          height: 64px;
        }
      }
    }
  }
  .methods-r {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: 1;
    height: 493px;
    /* FON 2 PAGE */
    background: #f2f2f2;
    &__head {
      border-top: 1px solid #242424;
      border-bottom: 1px solid #242424;
      width: 100%;
      height: 71.6px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &_top {
        margin-top: 10px;

        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #999999;
      }
      &_bottom {
        margin-top: 26px;
        margin-bottom: 10px;

        font-family: 'Nunito Sans';
        font-size: 8px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #999999;
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_f {
          transform: rotate(270deg);
          margin-top: 4px;
        }
        &_b {
          transform: rotate(90deg);
          opacity: 0.3;
          margin-bottom: 4px;
        }
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      width: 100%;
      &_item {
        font-family: 'Nunito Sans';
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #242424;
        padding: 16px 0;
        border-bottom: 1px solid #242424;
        width: 100%;
        text-transform: uppercase;
      }
      &_item_2 {
        height: 64px;
        font-family: 'Nunito Sans';
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #242424;
        padding: 16px 0;
        border-bottom: 1px solid #242424;
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}

//global styles - end

.s {
  &20 {
    font-size: 20px;
  }
  &22 {
    font-size: 22px;
  }
  &23 {
    font-size: 23px;
  }
}

.bg {
  background-color: $bg-color;
}

.bg-1 {
  background-color: $bg-color-1;
}

.header {
  position: fixed;
  top: 0;
  z-index: 3000;
  padding: 10px 20px;

  &-plug {
    height: 64px;
    background-color: #f9f9f9;
  }
  &__img {
    height: 44px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.first-page {
  position: relative;
  height: 617px;
  width: 100%;
  background-color: rgba(235, 232, 229, 0.6);

  .photos-wrapper {
    height: 617px;
    background:
      url(../../media/main_page/m.png) right top no-repeat,
      url(../../media/main_page/f.png) left top no-repeat;
    &__item {
      height: 617px;
      width: auto;
      overflow-y: hidden;
    }
  }

  .t-n-b {
    height: 677px;
    padding-top: 37px;
    padding-bottom: 0;
    &__text {
      /* УПРАВЛЯЙТЕ ВНЕШНОСТЬЮ, ЗДОРОВЬЕМ И КАЧЕСТВОМ ЖИЗНИ */
      height: 120px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      /* or 120% */
      text-align: center;
      letter-spacing: 0.07em;

      color: #000000;

      mix-blend-mode: darken;
    }

    &__arrow {
      width: 40px;
      margin-top: 70px;
      opacity: 0.6;
    }

    &__buttons {
      background-color: rgba(8, 229, 190, 0.45);
      backdrop-filter: blur(10px);
      color: #000;
      width: 360px;
      border-radius: 50px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 252px;
      min-height: 70px;
      &__f,
      &__m {
        border: #000 solid 1px;
        border-radius: 50px;
        padding: 14px 0;

        width: 106px;
        height: 10.83px;

        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;

        color: #000000;
      }
      &__t {
        /* ПЕРСОНАЛЬНЫЙ ПРОТОКОЛ */
        width: 114px;
        height: 26px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
        /* or 108% */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: #000000;
      }
    }
  }
}

.page-2 {
  background-color: rgba(242, 240, 238, 1);
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  &-active {
    position: fixed !important;
    top: 46px;
    z-index: -2;
  }

  &__main-text {
    margin-top: 84px;

    /* КЛИНИКА MEDICRIS — ОТВЕТСТВЕННАЯ* ЭСТЕТИЧЕСКАЯ МЕДИЦИНА, ПОМОГАЮЩАЯ ОСТАВАТЬСЯ НА ВЫСОТЕ! */
    width: 100%; //при значении из фигмы текст не вмещается
    height: 467.56px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    /* or 135% */
    letter-spacing: 0.07em;

    color: #000000;
  }
  &__subtext {
    margin-top: 26px;
    /* Эльвира Айзекс, основатель клиники */
    width: 292px;
    height: 14px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #000000;
  }
  &__note {
    /* В 2023 году MEDICRIS присвоен статус Клинической Базы НМХЦ им. Н.И.Пирогова */
    width: 171.39px;
    height: 137.83px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    letter-spacing: 0.05em;
    color: #000000;
    position: relative;
    &::before {
      content: '*';
      left: -5px;
      top: 5px;
      position: absolute;
      font-weight: bold;
      font-size: 26px;
      font-style: normal;
    }
  }
  &__link {
    margin-bottom: 135px;
  }
}

.gradient {
  height: 1764px;
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0) 34%,
    rgba(8, 229, 190, 0.6) 99.5%
  );
  mix-blend-mode: multiply;
}

.sticky-container {
  height: 2468px;
}

.type-2 {
  transition: all 0.5s ease-out;
  height: 617px;

  // position: relative;
  // z-index: 2;
  &-active {
    position: fixed;
    top: 45px;
    z-index: 1;
  }
  &__header {
    /* НАШИ ВОЗМОЖНОСТИ */
    // position: absolute;
    width: 100%;
    height: 16px;

    top: 52px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    /* or 16px */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #f2f0ee;
  }

  &__bottom {
    height: 84px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    padding: 10px 20px;
    &__text {
      /* 127 ВЫСОКО–ТЕХНОЛОГИЧНЫХ ПРОЦЕДУР */
      padding: 0;
      width: 278.67px;
      height: 66px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      /* or 122% */
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: #000000;
    }

    &__link {
      padding: 0;
      width: 58px;
      transform: rotate(270deg);
    }
    &__string {
      /* MOVING STROKE */
      width: 100%;
      height: 42px;

      background-color: rgba(8, 229, 190, 0.45);
      backdrop-filter: blur(10px);
      padding: 14px 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      letter-spacing: 0.1em;
      color: #000000;
    }
  }
}

.menu {
  position: fixed;
  bottom: 0;
  z-index: 33;
  background-color: #f8f8f8;
  height: 60px;
  backdrop-filter: blur(50px);
  text-align: center;

  &__img {
    width: 19px;
    height: 19px;
  }
  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* or 160% */
    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;

    mix-blend-mode: darken;
  }
}

.abilities {
  background: url('../../media/type-2/bg1.webp');
  background-size: cover;
  // margin-bottom: 617px;
  position: sticky;
  top: 65px;
  z-index: 3;
  & .type-2__header {
    margin-top: 52px;
  }
  & .type-2__bottom {
    margin-top: 423px;
  }
  &-fixed {
    position: fixed !important;
    top: 2455px;
  }
}

.doctors {
  // margin-top: 617px;
  // margin-bottom: 617px;
  z-index: 4;
  position: sticky;
  top: 65px;
  background: url('../../media/type-2/bg2.webp');
  background-size: cover;
}

.equip {
  // margin-top: 617px;
  // margin-bottom: 617px;
  z-index: 5;
  position: sticky;
  top: 65px;
  background: url('../../media/type-2/bg3.webp');
  background-size: cover;
}

.clinic {
  // margin-top: 617px;
  // margin-bottom: 617px;
  z-index: 6;
  position: sticky;
  top: 65px;
  background: url('../../media/type-2/bg4.webp');
  background-size: cover;
}

.philosofy {
  // margin-top: 617px;
  height: 619px;
  padding-top: 50px;
  background-color: #f2f2f2;
  &__title {
    /* НАША ФИЛОСОФИЯ */
    width: 353px;
    height: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 135%;
    /* or 16px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #000000;
  }
  &__text {
    /* СИСТЕМНЫЙ ПОДХОД — КЛЮЧ К ГАРМОНИИ КРАСОТЫ И ЗДОРОВЬЯ */
    height: 120px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    text-align: center;
    letter-spacing: 0.07em;
    padding-top: 30px;

    color: #000000;

    mix-blend-mode: darken;
  }

  &__img {
    width: 100%;
    padding: 20px;
  }
}

.principle {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  height: 686px;

  &-wrapper {
    margin-bottom: 20px;
    &__number {
      font-family: Montserrat;
      border: #000 solid 1px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 0 20px;
    }
    &__title {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-align: left;

      margin-bottom: 10px;
      margin-top: 5px;
    }
    &__text {
      margin-bottom: 20px;
      width: 293px;

      font-family: Montserrat;

      font-size: 12px;
      font-weight: 300;
      line-height: 14.88px;
      text-align: left;
    }
    &__link {
      margin-bottom: 20px;
    }
  }
}

.arrow-link {
  &__img {
    height: 40px;
    transform: rotate(270deg);
    margin-left: 20px;
    &_n {
    }
  }
  &__text {
    width: 83px;
    height: 15px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    letter-spacing: 0.05em;

    color: #000000;
  }
}

.threeg {
  width: 100%;
  height: 620px;
  background-image: url(../../media/3g.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback {
  height: 618px;
  padding: 52px 20px;
  padding-bottom: 0;
  color: #000 !important;
  background-color: #f2f2f2;
  &__title {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.2px;
    letter-spacing: 0.07em;
    text-align: left;
  }
  &__text {
    margin-top: 81px;
    height: 135px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 24.2px;
  }
  &__source {
    align-self: flex-end;
    padding-right: 30px;
    /* ЧИТАТЬ ИСТОЧНИК */
    width: 141px;
    height: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 135%;
    /* or 16px */

    letter-spacing: 0.07em;

    color: #08e5be;
  }

  &-item {
    padding-right: 0;
    &__title {
      color: rgba(0, 0, 0, 0.4);
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      letter-spacing: 0.07em;
      text-align: left;
      margin-top: 43px;
      margin-bottom: 8px;
      &_l {
        margin-top: 26px;
      }
    }

    &__subtitle {
      padding: auto;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
    }

    &__img {
      transform: scale(0.4);
      padding: 0;
      margin-top: -25px;
    }
  }
  &-item2 {
    height: 30px;
    padding: 0;
    margin: 0;
  }

  &__scroller {
    width: 100%;
    margin: 17px 0 20px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    padding: 38px 0;

    &__l {
      margin: 0 0 0 30px;
      width: 50px;
      padding-right: 0;
      object-fit: scale-down;
      transform: rotate(180deg);
      opacity: 30%;
    }
    &__r {
      margin: 0 30px 0 0;
      width: 50px;
      padding-left: 0;
      object-fit: scale-down;
    }
    &__text {
      width: 20px;
      padding: 0;
      font-family: 'Montserrat Alternates';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;

      color: #000000;
    }
  }
}

[data-visible='false'] {
  display: none !important;
}

.rate {
  height: 618px;
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-bottom: 0;
  position: relative;

  &__title {
    padding-top: 155px;
    padding-bottom: 80px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.2px;
    letter-spacing: 0.07em;
    text-align: left;
  }

  &__number {
    width: 111px;
    height: 89px;
    margin: 15px 0;
  }
  &-wrapper {
    padding-bottom: 225px;
  }
  &__subtitle {
    width: 111px;
    height: 23px;
    object-fit: scale-down;
    padding: 0;
  }
  &__border {
    border-bottom: #000 solid 1px;
    padding: 0 20px;
    width: 100%;
  }
  &_gradient {
    background: linear-gradient(
      180deg,
      rgba(8, 229, 190, 0.5) 0%,
      rgba(242, 242, 242, 0.5) 85.5%
    );
    background-color: #f2f2f2;
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
  &-wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 22px;
  }
  &-arrow__text {
    height: 15px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #000000;
  }

  &-item {
    width: 48%;
    padding: 0;
    &__link {
      display: flex;
      flex-direction: row;

      justify-content: flex-start;
      align-items: center;
      margin-top: 15px;
    }
  }

  &-item__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    margin-top: 14px;
  }
  &__title {
    padding: 52px;

    /* НОВОСТИ MEDICRIS */

    width: 353px;
    height: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 135%;
    /* or 16px */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #000000;
  }
}

.message {
  z-index: 1;
  height: 673px;
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0.5) 0%,
    rgba(242, 242, 242, 0.5) 85.5%
  );
  &__text {
    width: 352.43px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 35px;
    /* or 130% */
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
    margin-top: 97px;
  }
  &__author {
    margin-top: 53px;
    line-height: 14px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-align: left;
  }
  &__link {
    margin-top: 187px;
  }
}

.swiper {
  z-index: 1;
  width: 100%;
  height: 620px;
  &_slide {
    & > img {
      object-fit: contain;
    }
  }
}

.footer {
  padding: 20px;
  background-color: #fff;
  color: #242424;
  &__title {
    margin: 30px;
    /* MEDICRIS — КЛИНИКА КРАСОТЫ */
    width: 353px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    color: #242424;
    mix-blend-mode: darken;
  }
  &__info {
    width: 353px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #242424;
    mix-blend-mode: darken;
  }

  &-icons-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    justify-content: end;
    margin-bottom: 22px;
    &:first-child {
      margin-top: 3px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__item {
      align-self: center;
    }
  }

  &__socials {
    padding: 0;
    max-width: 25px;
  }

  &__adress {
    margin-top: 37px;

    width: 353px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    mix-blend-mode: darken;
  }

  &__map-img {
    object-fit: cover;
    margin-top: 24px;
    margin-bottom: 22px;
  }

  &__maps {
    border-top: #000 solid 1px;
    margin: 0 12px;
    padding: 3.5px 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #242424;
    mix-blend-mode: darken;
    &_last {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #242424;
      mix-blend-mode: darken;
      padding: 3.5px 0;
      margin: 0;
      border-top: #000 solid 1px;
      border-bottom: #000 solid 1px;
      & > .col {
        padding-inline: 0;
      }
    }
  }

  &__navimg {
    transform: scale(0.5);
    margin-right: -13px;
    &_last {
      transform: scale(0.55) rotate(270deg);
      margin-right: -22px;
    }
  }

  &__dropdown {
    display: none;
    &_station {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      line-height: 10.8px;
      text-align: left;
      padding-bottom: 12px;
    }
    &_dist {
      font-family: Montserrat;
      font-size: 12px;
      font-style: italic;
      font-weight: 500;
      line-height: 10px;
      text-align: left;
      color: #999;
      padding-bottom: 14px;
    }
    &_desc {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      padding-bottom: 24px;
    }
  }
  &-license {
    margin-bottom: 160px;
    &__first {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
    &__others {
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      text-align: center;
      &_underline {
        text-decoration: underline;
      }
    }
  }
}
.swiper {
  width: 100%;
  &-container-feedback {
    height: 406px;
    &-wrapper {
      height: 406px;
    }
    &-slide {
      margin-right: 20px;
      width: 100%;
      &-active {
        margin-right: 20px;
        width: 100%;
      }
    }
  }
}

.slide {
  &-1 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_1.png);
    background-size: cover;
  }
  &-2 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_2.png);
    background-size: cover;
  }
  &-3 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_3.png);
    background-size: cover;
  }
  &-4 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_4.png);
    background-size: cover;
  }
  &-5 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_5.png);
    background-size: cover;
  }
  &-6 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_6.png);
    background-size: cover;
  }
}

.page-1 {
  background-color: rgba(242, 242, 242, 1);
  padding: 0 20px;
  &__header {
    //styleName: HEADERS MOBILE/H1 MOB;
    width: 353px;
    height: 55.14px;
    margin-top: 45px;

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    align-items: end;
  }
  &__breadcrumbs {
    height: 12px;
    margin-top: 9px;
    padding-bottom: 19px;
    border-bottom: solid #000 1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    /* TEXT 2 */
    color: #999999;
    position: relative;
  }
  &-slider {
    &__scroller {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 9px 0;
    }
    &__l {
      width: 50px;
      height: 11px;
      padding: 0;
    }
    &__t {
      //styleName: HEADERS MOBILE/H3 LIST MOB;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.07em;
      text-align: center;
      color: #242424;
    }
    &__r {
      width: 50px;
      height: 11px;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    width: 172px;
    height: 60px;
  }
  &__price {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: center;

    margin: 37px 0;
  }
  &__button {
  }
  &__desc-title {
    margin-top: 82px;
  }
  &__desc-text {
    margin-top: 13px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
  }
  &__desc-link {
    display: flex;
    justify-content: flex-end;
  }
}

.procedure {
  padding: 0 20px;
  &__title {
    width: 100%;
    padding: 17px 0;
    border-bottom: #000 1px solid;
  }
  .card {
    border: #000 1px solid;
    padding: 10px;
    &__l {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;

      color: #242424;

      flex: none;
      order: 0;
      flex-grow: 0;
    }
    &__r {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      /* or 200% */
      text-align: right;

      /* TEXT 1 */
      color: #242424;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
}

.protocol {
  padding: 0 20px;
  &__title {
    padding-top: 18px;
    padding-bottom: 9px;

    border-bottom: #000 1px solid;
  }
}

.treatment-cost {
  &__title {
    margin-top: 34px;
  }
  &__text {
    margin-top: 15px;
  }
  &-table {
    margin-top: 50px;
  }
}

.treatment-doctors {
  padding: 0 20px;
  height: 768px;
  background-color: #f2f2f2;
  &__title {
    margin-top: 85px;
  }
  &-container {
    margin-top: 63px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  &__link {
    margin-top: 64px;
    display: flex;
    justify-content: center;
  }
}

.articles {
  height: 824px;
  padding: 0 20px;
  background-color: #f2f2f2;
  &__title {
    margin-top: 17px;
  }
  &__text {
    margin-top: 39px;
    width: 232px;
    height: 80px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* TEXT 1 */
    color: #242424;
  }
  &-container {
    margin-top: 70px;
    background-color: #f2f2f2;
    height: 372px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.personal-protocol {
  position: relative;
  height: 970px;
  background: #e0d8d0;

  .photos-wrapper {
    height: 970px;
    background:
      url(../../media/treatment/personal-protocol/62a483e603a3ed0869d1aa90ff1aff9c\ 2.webp)
        left bottom no-repeat,
      url(../../media/treatment/personal-protocol/15xn2dhcpcpaasgraso0anji1ngo8w68\ 1.webp)
        right bottom no-repeat;
    background-size: contain;
    &__item {
      height: 617px;
      width: auto;
      overflow-y: hidden;
    }
  }

  .t-n-b {
    height: 677px;
    padding-top: 72px;
    padding-bottom: 0;
    &__text {
      height: 120px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      /* or 120% */
      text-align: center;
      letter-spacing: 0.07em;

      color: #000000;

      mix-blend-mode: darken;
    }

    &__arrow {
      width: 40px;
      margin-top: 70px;
    }

    &__buttons {
      background-color: rgba(8, 229, 190, 0.45);
      backdrop-filter: blur(10px);
      color: #000;
      width: 360px;
      border-radius: 50px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 580px;
      min-height: 70px;
      &__f,
      &__m {
        border: #000 solid 1px;
        border-radius: 50px;
        padding: 14px 0;

        width: 106px;
        height: 10.83px;

        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;

        color: #000000;
      }
      &__t {
        /* ПЕРСОНАЛЬНЫЙ ПРОТОКОЛ */
        width: 114px;
        height: 26px;

        font-family: Montserrat;
        font-size: 8.43px;
        font-weight: 500;
        line-height: 9.94px;
        letter-spacing: 0.03em;
        text-align: center;

        /* or 108% */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: #000000;
      }
    }
  }
}
