@import "../fonts";
@import "../components/buttons";
@import "../components/header";
@import "../components/menu";
@import "../components/footer";

:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
}

html,
body {
  overflow-x: clip;
}

* {
  padding: 0;
  margin: 0;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.first-page {
  width: 100%;
  background: #e0d8d0;
  .photos-wrapper {
    height: 617px;
    background:
      url(../../media/main_page/m.png) right top no-repeat,
      url(../../media/main_page/f.png) left top no-repeat;
    &__item {
      width: auto;
      overflow-y: hidden;
    }
  }

  .text-and-buttons {
    padding-top: 59px;
    padding-bottom: 0;
    &__text {
      height: 120px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.07em;
      color: #000000;
      mix-blend-mode: darken;
    }

    &__arrow {
      height: 50px;
      width: 77px;
      margin-top: 30px;
      transform: rotate(90deg);
    }

    &__buttons {
      background-color: rgba(8, 229, 190, 0.45);
      backdrop-filter: blur(10px);
      color: #000;
      border-radius: 50px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 240px;
      min-height: 70px;
      width: calc(100vw - 40px);
      &__female,
      &__male {
        border: #000 solid 1px;
        border-radius: 50px;
        padding: 14px 0;
        width: 106px;
        height: 10.83px;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000000;
      }
      &__text {
        width: 114px;
        height: 26px;
        font-family: Montserrat;
        font-size: 8.43px;
        font-weight: 500;
        line-height: 9.94px;
        letter-spacing: 0.03em;
        display: flex;
        color: #000000;
      }
    }
  }
}

.page-2 {
  background-color: rgba(242, 240, 238, 1);
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  &-active {
    position: fixed !important;
    top: 46px;
    z-index: -2;
  }

  &__main-text {
    margin-top: 44px;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.07em;
    color: #000000;

    img {
      margin-top: -20px;
      margin-left: -10px;
    }
  }
  &__subtext {
    margin-top: 26px;
    width: 292px;
    height: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #000000;
  }
  &__note {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    position: relative;
    &::before {
      content: url('../../media/main_page/star.svg');
      left: -10px;
      top: -10px;
      position: absolute;
    }
  }
  &__link {
    margin-bottom: 145px;
  }
}

.gradient {
  height: 1764px;
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0) 34%,
    rgba(8, 229, 190, 0.6) 99.5%
  );
  mix-blend-mode: multiply;
}

.sticky-container {
  height: 2468px;
}

.type-2 {
  transition: all 0.5s ease-out;
  height: 617px;
  &-active {
    position: fixed;
    top: 45px;
    z-index: 1;
  }
  &__header {
    width: 100%;
    height: 16px;
    top: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: #f2f0ee;
  }

  &__bottom {
    height: 84px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    padding: 10px 20px;
    &__text {
      padding: 0;
      width: 278.67px;
      height: 66px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: #000000;
    }

    &__link {
      padding: 0;
      width: 40px;
    }
    &__string {
      width: 100%;
      height: 42px;
      background-color: rgba(8, 229, 190, 0.45);
      backdrop-filter: blur(10px);
      padding: 14px 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      color: #000000;
    }
  }
}

.abilities {
  background: url('../../media/type-2/bg1.webp');
  background-size: cover;
  position: sticky;
  top: 65px;
  z-index: 3;
  & .type-2__header {
    margin-top: 52px;
  }
  & .type-2__bottom {
    margin-top: 423px;
  }
  &-fixed {
    position: fixed !important;
    top: 2455px;
  }
}

.doctors {
  z-index: 4;
  position: sticky;
  top: 65px;
  background: url('../../media/type-2/bg2.webp');
  background-size: cover;
}

.equip {
  z-index: 5;
  position: sticky;
  top: 65px;
  background: url('../../media/type-2/bg3.webp');
  background-size: cover;
}

.clinic {
  z-index: 6;
  position: sticky;
  top: 65px;
  background: url('../../media/type-2/bg4.webp');
  background-size: cover;
}

.philosofy {
  padding-top: 60px;
  background-color: #f2f2f2;
  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
  }
  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.07em;
    padding-top: 48px;
    color: #000000;
    mix-blend-mode: darken;
  }

  &__img {
    width: 100%;
    padding: 45px 20px;
  }
}

.principle {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;

  &-wrapper {
    margin-bottom: 20px;
    &__number {
      font-family: Montserrat;
      font-size: 23px;
      border: #000 solid 1px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 0 20px;
    }
    &__title {
      @extend %h3-list-mob;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    &__text {
      @extend %body-2-mob;
    }
    &__link {
      margin-bottom: 100px;
    }
  }
}

.arrow-link {
  &__img {
    height: 11px;
    width: 40px;
    margin-left: 5px;
  }
  &__text {
    width: 83px;
    height: 15px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    letter-spacing: 0.05em;
    color: #000000;
  }
}

.clients {
  width: 100%;
  height: 620px;
  background-image: url(../../media/3g.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback {
  padding: 52px 20px;
  padding-bottom: 0;
  color: #000 !important;
  background-color: #f2f2f2;
  &__title {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: 0.07em;
    text-align: center;
  }
  &__text {
    margin-top: 81px;
    height: 135px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 24.2px;
  }
  &__source {
    align-self: flex-end;
    padding-right: 20px;
    width: 141px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 135%;
    letter-spacing: 0.07em;
    color: #08e5be;
  }

  &-item {
    padding-right: 0;
    &__title {
      color: rgba(0, 0, 0, 0.4);
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      letter-spacing: 0.07em;
      text-align: left;
      margin-top: 43px;
      margin-bottom: 8px;
      &_lower {
        margin-top: 26px;
      }
    }

    &__subtitle {
      padding: auto;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
    }

    &__img {
      transform: scale(0.4);
      padding: 0;
      margin-top: -25px;
    }
  }
  &-item2 {
    height: 30px;
    padding: 0;
    margin: 0;
  }

  &__scroller {
    width: 100%;
    margin: 17px 0 20px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    padding: 38px 0;

    &__left-button {
      margin: 0 0 0 30px;
      width: 50px;
      padding-right: 0;
      object-fit: scale-down;
      transform: rotate(180deg);
      opacity: 30%;
    }
    &__right-button {
      margin: 0 30px 0 0;
      width: 50px;
      padding-left: 0;
      object-fit: scale-down;
    }
    &__text {
      width: 20px;
      padding: 0;
      font-family: 'Montserrat Alternates';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;
      color: #000000;
    }
  }
  &-slide {
    transition: all 500ms ease;
    position: relative;
    left: 0;
    transform: translate(100vw, 0);

    &.open {
      transform: translate(0, 0);
    }
  }
}

[data-visible='false'] {
  display: none !important;
}

.rate {
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-bottom: 0;
  position: relative;

  &__title {
    padding-top: 155px;
    padding-bottom: 80px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.2px;
    letter-spacing: 0.07em;
    text-align: left;
  }
  &__star {
    height: 21px;
    padding: 0;
  }
  &__number {
    width: 111px;
    height: 89px;
    margin: 15px 0;
  }
  &-wrapper {
    padding-bottom: 225px;
  }
  &__subtitle {
    max-height: 37px;
    object-fit: scale-down;
    padding: 0;
  }
  &__border {
    border-bottom: #000 solid 1px;
    padding: 0 20px;
    width: 100%;
  }
  &_gradient {
    background: linear-gradient(
      180deg,
      rgba(8, 229, 190, 0.5) 0%,
      rgba(242, 242, 242, 0.5) 85.5%
    );
    background-color: #f2f2f2;
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
  &-wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 22px;
  }
  &-arrow__text {
    height: 15px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #000000;
  }

  &-item {
    width: 48%;
    padding: 0;
    &__link {
      display: flex;
      flex-direction: row;

      justify-content: flex-start;
      align-items: center;
      margin-top: 15px;
    }
  }

  &-item__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    margin-top: 14px;
  }
  &__title {
    padding: 52px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
  }
}

.message {
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0.5) 0%,
    rgba(242, 242, 242, 0.5) 85.5%
  );
  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
    margin-top: 97px;
  }
  &__author {
    margin-top: 53px;
    line-height: 14px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-align: left;
  }
  &__link {
    padding-top: 171px;
    padding-bottom: 125px;
  }
}

.swiper {
  z-index: 1;
  width: 100%;
  height: 620px;
  &_slide {
    & > img {
      object-fit: contain;
    }
  }
}

.swiper {
  width: 100%;
  &-container-feedback {
    height: 406px;
    &-wrapper {
      height: 406px;
    }
    &-slide {
      margin-right: 20px;
      width: 100%;
      &-active {
        margin-right: 20px;
        width: 100%;
      }
    }
  }
}

.slide {
  &-1 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_1.png);
    background-size: cover;
  }
  &-2 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_2.png);
    background-size: cover;
  }
  &-3 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_3.png);
    background-size: cover;
  }
  &-4 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_4.png);
    background-size: cover;
  }
  &-5 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_5.png);
    background-size: cover;
  }
  &-6 {
    background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_6.png);
    background-size: cover;
  }
}