:root {
  --bs-body-font-family: 'Montserrat', sans-serif; }

html, body {
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

.ma {
  font-family: "Montserrat alternates"; }

.s10 {
  font-size: 0.625rem; }
.s12 {
  font-size: 0.75rem; }
  .s12__grey {
    color: rbga(0, 0, 0, 0.5); }
.s14 {
  font-size: 14px; }
.s18 {
  font-size: 1.125rem; }
.s20 {
  font-size: 20px; }
.s22 {
  font-size: 22px; }
.s23 {
  font-size: 23px; }
.s26 {
  font-size: 26px; }
.s27 {
  font-size: 27px; }

.lh__35 {
  line-height: 35px; }
.lh__22 {
  line-height: 22px; }
.lh__16 {
  line-height: 16px; }
.lh__13 {
  line-height: 13px; }

.bg {
  background-color: #f9f9f9; }

.bg-1 {
  background-color: #f2f2f2; }

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 10px 20px; }
  .header-plug {
    height: 64px;
    background-color: #f9f9f9; }
  .header__img {
    height: 44px;
    background: url(../../media/main_page/logo.svg) center no-repeat;
    background-size: contain; }

.first-page {
  position: relative;
  height: 617px;
  background-color: #EBE8E599; }
  .first-page .photos-wrapper {
    height: 617px;
    background: url(../../media/main_page/f.png) left top no-repeat, url(../../media/main_page/m.png) right top no-repeat; }
    .first-page .photos-wrapper__item {
      height: 617px;
      width: auto;
      overflow-y: hidden; }
  .first-page .t-n-b {
    height: 677px;
    padding-top: 37px;
    padding-bottom: 0; }
    .first-page .t-n-b__text {
      height: 120px;
      line-height: 24px;
      font-size: 20px; }
    .first-page .t-n-b__arrow {
      width: 40px;
      margin-top: 70px; }
    .first-page .t-n-b__buttons {
      background-color: rgba(8, 229, 190, 0.45);
      color: #000;
      border-radius: 50px;
      margin-top: 252px;
      min-height: 70px; }
      .first-page .t-n-b__buttons__f, .first-page .t-n-b__buttons__m {
        border: #000 solid 1px;
        border-radius: 50px;
        padding: 10px;
        font-family: Montserrat Alternates;
        font-size: 10px;
        font-weight: 700;
        line-height: 12.19px;
        letter-spacing: 0.03em;
        text-align: center; }
      .first-page .t-n-b__buttons__t {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 13px;
        text-align: center; }

.page-2 {
  height: 617px;
  padding-left: 20px;
  padding-right: 20px; }
  .page-2__main-text {
    margin-top: 84px; }
  .page-2__subtext {
    margin-top: 26px; }
  .page-2__note {
    position: relative; }
    .page-2__note::before {
      content: "*";
      left: -5px;
      top: 5px;
      position: absolute;
      font-weight: bold;
      font-size: 26px;
      font-style: normal; }
  .page-2__link {
    margin-bottom: 20px; }

.gradient {
  height: 1177px;
  background: linear-gradient(180deg, rgba(8, 229, 190, 0) 12%, rgba(8, 229, 190, 0.6) 99.5%), #F2F0EE;
  mix-blend-mode: multiply; }

.type-2 {
  height: 617px; }
  .type-2__header {
    color: #f2f2f2;
    padding-top: 52px; }
  .type-2__bottom {
    height: 84px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 20px; }
    .type-2__bottom__text {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.03em;
      text-align: left; }
    .type-2__bottom__link {
      padding: 0;
      width: 60px;
      transform: rotate(270deg); }

.menu {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #f8f8f8;
  height: 60px img;
    height-width: 19px;
    height-height: 19px; }

.abilities {
  background: url("../../media/type-2/bg1.webp");
  background-size: cover; }

.doctors {
  background: url("../../media/type-2/bg2.webp");
  background-size: cover; }

.equip {
  background: url("../../media/type-2/bg3.webp");
  background-size: cover; }

.clinic {
  background: url("../../media/type-2/bg4.webp");
  background-size: cover; }

.philosofy {
  height: 619px;
  padding: 50px 20px;
  background-color: #f2f2f2; }
  .philosofy__img {
    width: 90vw; }

.principle {
  background-color: #f2f2f2;
  padding: 20px; }
  .principle-wrapper {
    margin-bottom: 20px; }
    .principle-wrapper__number {
      border: #000 solid 1px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 0 20px; }
    .principle-wrapper__title {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-align: left;
      margin-bottom: 15px;
      margin-top: 5px; }
    .principle-wrapper__text {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 300;
      line-height: 14.88px;
      text-align: left;
      margin-bottom: 20px; }
    .principle-wrapper__link {
      margin-bottom: 20px; }

.arrow-link__img {
  height: 40px;
  transform: rotate(270deg);
  margin-left: 20px; }

.threeg {
  height: 620px;
  background-image: url(../../media/3g.png);
  background-repeat: no-repeat;
  background-size: cover; }

.feedback {
  height: 618px;
  padding: 52px 20px;
  padding-bottom: 0;
  color: #000;
  background-color: #f2f2f2; }
  .feedback__text {
    margin-top: 83px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 24.2px; }
  .feedback__source {
    color: #08e5be;
    align-self: flex-end;
    padding-right: 54px; }
  .feedback-item {
    padding-right: 0; }
    .feedback-item__title {
      color: rgba(0, 0, 0, 0.4);
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 16.2px;
      letter-spacing: 0.07em;
      text-align: left;
      margin-bottom: 8px; }
    .feedback-item__subtitle {
      padding: auto;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: left; }
    .feedback-item__img {
      transform: scale(0.25) translateX(150%) translateY(-150%);
      padding: 0; }
  .feedback-item2 {
    height: 30px;
    padding-top: 0;
    position: relative; }
  .feedback__scroller {
    margin: 0px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    padding: 38px 0; }
    .feedback__scroller__l {
      margin: 0 30px; }
    .feedback__scroller__r {
      margin: 0 30px; }

.rate {
  height: 618px;
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-bottom: 0;
  position: relative; }
  .rate__title {
    padding-top: 155px;
    padding-bottom: 80px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.2px;
    letter-spacing: 0.07em; }
  .rate__number {
    width: 111px;
    height: 89px;
    margin: 15px 0; }
  .rate-wrapper {
    padding-bottom: 214px; }
  .rate__subtitle {
    width: 111px;
    height: 23px;
    object-fit: scale-down;
    padding: 0; }
  .rate__border {
    border-bottom: #000 solid 1px;
    padding: 0 20px;
    width: 100%; }

.news {
  padding: 0 20px;
  padding-bottom: 100px;
  background-color: #f2f2f2; }
  .news-item__text {
    line-height: 16px; }
  .news__title {
    padding: 52px; }

.message {
  height: 673px;
  background: linear-gradient(180deg, rgba(8, 229, 190, 0.5) 0%, rgba(242, 242, 242, 0.5) 85.5%); }
  .message__text {
    margin-top: 97px;
    line-height: 35px; }
  .message__author {
    margin-top: 53px;
    line-height: 14px; }
  .message__link {
    margin-top: 187px; }

.footer {
  padding: 20px;
  background-color: #fff; }
  .footer__title {
    margin: 30px; }
  .footer__socials {
    padding: 0; }
  .footer__adress {
    margin-top: 42px; }
  .footer__map-img {
    object-fit: cover; }
  .footer__maps {
    border-top: #000 solid 2px;
    margin: 0 10px;
    padding: 15px 0px; }
    .footer__maps_last {
      padding: 15px 0;
      margin: 0 10px;
      border-top: #000 solid 2px;
      border-bottom: #000 solid 2px; }
  .footer__navimg {
    transform: scale(0.5); }
  .footer__dropdown {
    display: none; }
    .footer__dropdown_station {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      line-height: 10.8px;
      text-align: left;
      padding-bottom: 12px; }
    .footer__dropdown_dist {
      font-family: Montserrat;
      font-size: 12px;
      font-style: italic;
      font-weight: 500;
      line-height: 10px;
      text-align: left;
      color: #999;
      padding-bottom: 14px; }
    .footer__dropdown_desc {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      padding-bottom: 24px; }
  .footer-license {
    margin-bottom: 160px; }

/*# sourceMappingURL=home.css.map */
