@charset "UTF-8";
:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: clip;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.ma {
  font-family: "Montserrat alternates";
}

.acc-1-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  /* or 135% */
  color: #242424;
}

.acc-2-mob {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #242424;
}

.acc-3-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #242424;
}

.acc-4-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */
  text-transform: uppercase;
}

.acc-5-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */
  letter-spacing: 0.07em;
  color: #242424;
}

.acc-6-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  /* or 140% */
  letter-spacing: 0.02em;
  color: #000000;
}

.acc-7-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* or 120% */
  letter-spacing: 0.02em;
  color: #000000;
}

.h1-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #242424;
  mix-blend-mode: darken;
}

.h2-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #242424;
}

.h3-list-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #242424;
}

.h4-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  letter-spacing: 0.07em;
  color: #242424;
}

.h6-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #242424;
}

.body-1-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  /* or 106% */
  color: #242424;
}

.body-2-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */
  color: #000000;
}

.list-1-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
  /* or 292% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #242424;
}

.list-2-mob {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */
  text-transform: uppercase;
  color: #242424;
}

.list-3-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  padding-inline: 0;
  /* or 150% */
  text-transform: uppercase;
  color: #242424;
}

.button-big-mob {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 75px;
  gap: 10px;
  width: 353px;
  height: 50px;
  /* TEXT 1 */
  border: 1px solid #242424;
  border-radius: 50px;
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-weight: 700;
  line-height: 12.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.button-big-mob:hover {
  background: rgba(8, 229, 190, 0.5);
}

.button-1-mob {
  font-family: "Montserrat Alternates";
  font-size: 10px;
  font-weight: 700;
  line-height: 12.19px;
  letter-spacing: 0.03em;
  padding: 10px 20px 9px 20px;
  border-radius: 50px;
  border: 1px solid #242424;
}
.button-1-mob:hover {
  background: rgba(8, 229, 190, 0.5);
}

.button-2-mob {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  column-gap: 7px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.button-2-mob:hover {
  column-gap: 22px;
}

.link-mob {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  display: flex;
  justify-content: flex-end;
  text-align: right;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #08e5be;
}
.link-mob:hover {
  text-decoration: underline;
}

.filter-2-mob {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #242424;
}
.filter-2-mob_no {
  background-image: url(../../media/treatment/procedure/Ellipse_26.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.filter-2-mob_choosen {
  background-image: url(../../media/treatment/procedure/Ellipse_26_black.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.yes-list {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  margin-left: 0;
  position: relative;
  width: 170px;
  height: 400px;
  gap: 15px;
  /* FON 2 ACC TEXT */
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0.5) 0%,
    rgba(242, 242, 242, 0.5) 85.5%
  );
  /* TEXT 1 */
  border-top: 1px solid #242424;
}

.no-list {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  gap: 15px;
  position: relative;
  width: 172px;
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(206, 206, 206, 0.5) 0%,
    rgba(242, 242, 242, 0.5) 63%
  );
  /* TEXT 1 */
  border-top: 1px solid #242424;
}

.faq-item {
  height: 70px;
  color: #242424 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  /* FON 1 PAGE */
  background: #f2f2f2;
}
.faq-item:last-child {
  border-bottom: 1px solid #242424;
}
.faq-item-title {
  border-top: 1px solid #242424;
  padding: 17px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 13px;
  column-gap: 36px;
  width: 100%;
}
.faq-item-title-text_sub {
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #242424;
  text-transform: uppercase;
}
.faq-item-dropdown {
  display: none;
  margin-bottom: 60px;
  width: 100%;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.faq-item-dropdown > .faq-item {
  height: 50px;
}
.faq-item-dropdown > .faq-item > .faq-item-title {
  padding: 13px 0;
}
.faq-item-dropdown-sub-text {
  margin-bottom: 17px;
}
.faq-item-dropdown-sub-img {
  width: 100%;
  margin-bottom: 17px;
}
.faq-item-dropdown-sub-img img {
  width: 100%;
}

.methods {
  display: flex;
  flex-direction: row;
  margin-inline: 0;
  padding-inline: 0;
  column-gap: 10px;
}
.methods .methods-l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: 1;
  height: 493px;
  /* FON 2 PAGE */
  background: #d9d9d9;
}
.methods .methods-l__head {
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  width: 100%;
}
.methods .methods-l__head_top {
  margin-top: 10px;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #999999;
}
.methods .methods-l__head_bottom {
  margin-top: 26px;
  margin-bottom: 10px;
  font-family: "Nunito Sans";
  font-size: 8px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #999999;
}
.methods .methods-l__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.methods .methods-l__body_item {
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #242424;
  padding: 16px 0;
  border-bottom: 1px solid #242424;
  width: 100%;
  text-transform: uppercase;
}
.methods .methods-l__body_item_twostring {
  height: 64px;
}
.methods .methods-r {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: 1;
  height: 493px;
  /* FON 2 PAGE */
  background: #f2f2f2;
}
.methods .methods-r__head {
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  width: 100%;
  height: 71.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.methods .methods-r__head_top {
  margin-top: 10px;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #999999;
}
.methods .methods-r__head_bottom {
  margin-top: 26px;
  margin-bottom: 10px;
  font-family: "Nunito Sans";
  font-size: 8px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #999999;
}
.methods .methods-r__head__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.methods .methods-r__head__buttons_f {
  transform: rotate(270deg);
  margin-top: 4px;
}
.methods .methods-r__head__buttons_b {
  transform: rotate(90deg);
  opacity: 0.3;
  margin-bottom: 4px;
}
.methods .methods-r__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}
.methods .methods-r__body_item {
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #242424;
  padding: 16px 0;
  border-bottom: 1px solid #242424;
  width: 100%;
  text-transform: uppercase;
}
.methods .methods-r__body_item_2 {
  height: 64px;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #242424;
  padding: 16px 0;
  border-bottom: 1px solid #242424;
  width: 100%;
  text-transform: uppercase;
}

.price-section {
  margin-top: 58px;
}
.price-section-header__top {
  padding-bottom: 8px;
}
.price-section-header__bottom {
  height: 20px;
  margin: 0;
  padding: 20px 0;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  color: #999999 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;
}
.price-section-header__bottom-price {
  display: flex;
  flex-direction: row;
  text-align: right;
}
.price-section-header__bottom-price_base {
  width: 65px;
}
.price-section-header__bottom-price_sale {
  width: 87px;
  text-decoration: underline;
}
.price-section-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: #000 1px solid;
}
.price-section-item__col-l {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  text-transform: uppercase;
}
.price-section-item__col-l_desc {
  text-transform: none;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: left;
  color: rgb(36, 36, 36);
}
.price-section-item__col-r {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  align-items: flex-end;
}
.price-section-item__col-r_price {
  display: flex;
  flex-direction: row;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: right;
  column-gap: 13px;
}
.price-section-item__col-r_price_l {
  width: 65px;
}
.price-section-item__col-r_price_r {
  width: 67px;
}

.card-article {
  width: 293px !important;
  height: 372px;
  border-top: 1px solid #000;
  margin-right: 10px;
  background-color: #fff;
  padding-inline: 20px;
}
.card-article-text__title {
  margin-top: 26px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  letter-spacing: 0.02em;
  text-align: left;
}
.card-article-text__author {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}
.card-article-text__main {
  margin-top: 32px;
  font-family: "Nunito Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}
.card-article__link {
  margin-top: 68px;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
}

.doc-card {
  width: 293px;
  height: 423px;
  margin-right: 10px;
}
.doc-card__img {
  padding: 0;
  height: 293px;
  width: 423px;
}
.doc-card__name {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 15px;
  padding: 0;
}
.doc-card__position {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  margin-top: 13px;
  padding: 0;
}

.s20 {
  font-size: 20px;
}
.s22 {
  font-size: 22px;
}
.s23 {
  font-size: 23px;
}

.bg {
  background-color: #f9f9f9;
}

.bg-1 {
  background-color: #f2f2f2;
}

.header {
  position: fixed;
  top: 0;
  z-index: 3000;
  padding: 10px 20px;
}
.header-plug {
  height: 64px;
  background-color: #f9f9f9;
}
.header__img {
  height: 44px;
  background: url(../../media/main_page/logo.svg) center no-repeat;
  background-size: contain;
}

.first-page {
  position: relative;
  height: 617px;
  width: 100%;
  background-color: rgba(235, 232, 229, 0.6);
}
.first-page .photos-wrapper {
  height: 617px;
  background:
    url(../../media/main_page/m.png) right top no-repeat,
    url(../../media/main_page/f.png) left top no-repeat;
}
.first-page .photos-wrapper__item {
  height: 617px;
  width: auto;
  overflow-y: hidden;
}
.first-page .t-n-b {
  height: 677px;
  padding-top: 37px;
  padding-bottom: 0;
}
.first-page .t-n-b__text {
  /* УПРАВЛЯЙТЕ ВНЕШНОСТЬЮ, ЗДОРОВЬЕМ И КАЧЕСТВОМ ЖИЗНИ */
  height: 120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
  mix-blend-mode: darken;
}
.first-page .t-n-b__arrow {
  width: 40px;
  margin-top: 70px;
  opacity: 0.6;
}
.first-page .t-n-b__buttons {
  background-color: rgba(8, 229, 190, 0.45);
  backdrop-filter: blur(10px);
  color: #000;
  width: 360px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 252px;
  min-height: 70px;
}
.first-page .t-n-b__buttons__f,
.first-page .t-n-b__buttons__m {
  border: #000 solid 1px;
  border-radius: 50px;
  padding: 14px 0;
  width: 106px;
  height: 10.83px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.first-page .t-n-b__buttons__t {
  /* ПЕРСОНАЛЬНЫЙ ПРОТОКОЛ */
  width: 114px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  /* or 108% */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.page-2 {
  background-color: rgb(242, 240, 238);
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.page-2-active {
  position: fixed !important;
  top: 46px;
  z-index: -2;
}
.page-2__main-text {
  margin-top: 84px;
  /* КЛИНИКА MEDICRIS — ОТВЕТСТВЕННАЯ* ЭСТЕТИЧЕСКАЯ МЕДИЦИНА, ПОМОГАЮЩАЯ ОСТАВАТЬСЯ НА ВЫСОТЕ! */
  width: 100%;
  height: 467.56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  /* or 135% */
  letter-spacing: 0.07em;
  color: #000000;
}
.page-2__subtext {
  margin-top: 26px;
  /* Эльвира Айзекс, основатель клиники */
  width: 292px;
  height: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
  color: #000000;
}
.page-2__note {
  /* В 2023 году MEDICRIS присвоен статус Клинической Базы НМХЦ им. Н.И.Пирогова */
  width: 171.39px;
  height: 137.83px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  letter-spacing: 0.05em;
  color: #000000;
  position: relative;
}
.page-2__note::before {
  content: "*";
  left: -5px;
  top: 5px;
  position: absolute;
  font-weight: bold;
  font-size: 26px;
  font-style: normal;
}
.page-2__link {
  margin-bottom: 125px;
}

.gradient {
  height: 1764px;
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0) 34%,
    rgba(8, 229, 190, 0.6) 99.5%
  );
  mix-blend-mode: multiply;
}

.sticky-container {
  height: 2468px;
}

.type-2 {
  transition: all 0.5s ease-out;
  height: 617px;
}
.type-2-active {
  position: fixed;
  top: 45px;
  z-index: 1;
}
.type-2__header {
  /* НАШИ ВОЗМОЖНОСТИ */
  width: 100%;
  height: 16px;
  top: 52px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #f2f0ee;
}
.type-2__bottom {
  height: 84px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  padding: 10px 20px;
}
.type-2__bottom__text {
  /* 127 ВЫСОКО–ТЕХНОЛОГИЧНЫХ ПРОЦЕДУР */
  padding: 0;
  width: 278.67px;
  height: 66px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.type-2__bottom__link {
  padding: 0;
  width: 58px;
  transform: rotate(270deg);
}
.type-2__bottom__string {
  /* MOVING STROKE */
  width: 100%;
  height: 42px;
  background-color: rgba(8, 229, 190, 0.45);
  backdrop-filter: blur(10px);
  padding: 14px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #000000;
}

.menu {
  position: fixed;
  bottom: 0;
  z-index: 33;
  background-color: #f8f8f8;
  height: 60px;
  backdrop-filter: blur(50px);
  text-align: center;
}
.menu__img {
  width: 19px;
  height: 19px;
}
.menu__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  /* or 160% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  mix-blend-mode: darken;
}

.abilities {
  background: url("../../media/type-2/bg1.webp");
  background-size: cover;
  position: sticky;
  top: 65px;
  z-index: 3;
}
.abilities .type-2__header {
  margin-top: 52px;
}
.abilities .type-2__bottom {
  margin-top: 423px;
}
.abilities-fixed {
  position: fixed !important;
  top: 2455px;
}

.doctors {
  z-index: 4;
  position: sticky;
  top: 65px;
  background: url("../../media/type-2/bg2.webp");
  background-size: cover;
}

.equip {
  z-index: 5;
  position: sticky;
  top: 65px;
  background: url("../../media/type-2/bg3.webp");
  background-size: cover;
}

.clinic {
  z-index: 6;
  position: sticky;
  top: 65px;
  background: url("../../media/type-2/bg4.webp");
  background-size: cover;
}

.philosofy {
  height: 619px;
  padding-top: 50px;
  background-color: #f2f2f2;
}
.philosofy__title {
  /* НАША ФИЛОСОФИЯ */
  width: 353px;
  height: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}
.philosofy__text {
  /* СИСТЕМНЫЙ ПОДХОД — КЛЮЧ К ГАРМОНИИ КРАСОТЫ И ЗДОРОВЬЯ */
  height: 120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
  mix-blend-mode: darken;
}
.philosofy__img {
  width: 100%;
  padding: 20px;
}

.principle {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  height: 686px;
}
.principle_t {
  margin-top: 34px;
}
.principle-wrapper {
  margin-bottom: 20px;
}
.principle-wrapper__number {
  font-family: Montserrat;
  border: #000 solid 1px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 20px;
}
.principle-wrapper__title {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.principle-wrapper__text {
  margin-bottom: 20px;
  width: 293px;
}
.principle-wrapper__link {
  margin-bottom: 20px;
}

.arrow-link__img {
  margin-left: 7px;
}
.arrow-link__text {
  width: 83px;
  height: 15px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
}
.arrow-link:hover .arrow-link__img {
  margin-left: 20px;
}

.threeg {
  width: 100%;
  height: 620px;
  background-image: url(../../media/3g.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback {
  height: 618px;
  padding: 0 20px;
  padding-bottom: 0;
  color: #000 !important;
  background-color: #f2f2f2;
}
.feedback_n {
  height: 670px;
}
.feedback__title_t {
  margin-top: 63px;
  text-align: left;
  color: #242424;
  padding-bottom: 11px;
  border-bottom: #000 1px solid;
  padding-inline: 0;
  margin-inline: 11px;
}
.feedback-stars {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 34px 0;
  padding-bottom: 44px;
}
.feedback-stars__img {
  width: 64px;
}
.feedback__text {
  margin-top: 60px;
  height: 152px;
  font-family: Montserrat;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 24.2px;
}
.feedback__text_n {
  margin-top: 0;
  height: 88px;
}
.feedback__source {
  align-self: flex-end;
  padding-right: 20px;
  justify-content: flex-end;
  /* ЧИТАТЬ ИСТОЧНИК */
  width: 141px;
  height: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  letter-spacing: 0.07em;
  color: #08e5be;
}
.feedback__source_n {
  margin-top: 31px;
}
.feedback-items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.feedback-item {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  justify-content: space-between;
}
.feedback-item__title {
  color: rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  letter-spacing: 0.07em;
  text-align: left;
}
.feedback-item__subtitle {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-weight: 500;
}
.feedback-item__img {
  transform: scale(0.4);
  padding: 0;
  margin-top: -25px;
}
.feedback-item2 {
  height: 30px;
  padding: 0;
  margin: 0;
}
.feedback__scroller {
  width: 100%;
  margin: 17px 0 20px;
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
  padding: 38px 0;
}
.feedback__scroller__l {
  margin: 0 0 0 30px;
  width: 50px;
  padding-right: 0;
  object-fit: scale-down;
  transform: rotate(180deg);
  opacity: 30%;
  margin-right: -90px;
}
.feedback__scroller__r {
  margin: 0 30px 0 0;
  width: 50px;
  padding-right: 0;
  object-fit: scale-down;
  margin-left: -90px;
}
.feedback__scroller__text {
  width: 20px;
  padding: 0;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.results {
  height: 796px;
  padding: 52px 20px;
  padding-bottom: 0;
  color: #000 !important;
  background-color: #f2f2f2;
}
.results-photos-wrapper {
  margin-top: 30px;
  height: 400px;
}
.results__text {
  margin-top: 60px;
  height: 152px;
  font-family: Montserrat;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 24.2px;
}
.results__img {
  margin-top: 26px;
}
.results-before-after-wrapper {
  position: relative;
}
.results-photos-overlay {
  position: absolute;
  bottom: 13px;
  left: 13px;
  width: 293px;
  color: #242424;
}
.results-photos-overlay__top {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
.results-photos-overlay__bottom {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
}
.results-item {
  padding-right: 0;
}
.results-item__title {
  color: rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  letter-spacing: 0.07em;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 8px;
}
.results-item__subtitle {
  padding: auto;
  flex-basis: 232px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
}
.results-item__img {
  padding: 0;
  width: 24px;
  height: 24px;
  justify-items: center;
}
.results-item2 {
  height: 30px;
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}
.results__scroller {
  width: 100%;
  margin: 11px 0;
  display: flex;
  flex-direction: row;
  column-gap: 71px;
}
.results__scroller__l {
  margin-left: -8px;
  width: 50px;
  padding-right: 0;
  object-fit: scale-down;
  transform: rotate(180deg);
  opacity: 30%;
}
.results__scroller__r {
  margin-right: -8px;
  width: 50px;
  padding-right: 0;
  object-fit: scale-down;
}
.results__scroller__text {
  width: 20px;
  padding: 0;
  /* identical to box height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

[data-visible="false"] {
  display: none !important;
}

.photo__before ::after {
  content: "ДО";
  color: rgb(8, 229, 190);
  font-size: medium;
  height: 40px;
  width: 60px;
  border: #000 3px solid;
}

.rate {
  height: 618px;
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-bottom: 0;
  position: relative;
}
.rate__title {
  padding-top: 155px;
  padding-bottom: 80px;
}
.rate__number {
  width: 111px;
  height: 89px;
  margin: 15px 0;
}
.rate-wrapper {
  padding-bottom: 225px;
}
.rate__subtitle {
  width: 111px;
  height: 23px;
  object-fit: scale-down;
  padding: 0;
}
.rate__border {
  border-bottom: #000 solid 1px;
  padding: 0 20px;
  width: 100%;
}
.rate_gradient {
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0.5) 0%,
    rgba(242, 242, 242, 0.5) 85.5%
  );
  background-color: #f2f2f2;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}
.news-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 22px;
}
.news-arrow__text {
  width: 90px;
  height: 15px;
  margin-top: 16px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
}
.news-item {
  width: 171px;
  padding: 0;
}
.news-item__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 14px;
}
.news__title {
  padding: 52px;
  /* НОВОСТИ MEDICRIS */
  width: 353px;
  height: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}

.message {
  z-index: 1;
  height: 673px;
  background: linear-gradient(
    180deg,
    rgba(8, 229, 190, 0.5) 0%,
    rgba(242, 242, 242, 0.5) 85.5%
  );
}
.message__text {
  width: 352.43px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 35px;
  /* or 130% */
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
  margin-top: 97px;
}
.message__author {
  margin-top: 53px;
  line-height: 14px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-align: left;
}
.message__link {
  margin-top: 187px;
}

.swiper {
  z-index: 1;
  width: 100%;
  height: 620px;
}
.swiper_slide > img {
  object-fit: contain;
}

.footer {
  padding: 20px;
  background-color: #fff;
  color: #242424;
}
.footer__title {
  margin: 30px;
  /* MEDICRIS — КЛИНИКА КРАСОТЫ */
  width: 353px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  color: #242424;
  mix-blend-mode: darken;
}
.footer__info {
  width: 353px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #242424;
  mix-blend-mode: darken;
}
.footer-icons-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  justify-content: end;
  margin-bottom: 22px;
}
.footer-icons-wrapper:first-child {
  margin-top: 3px;
}
.footer-icons-wrapper:last-child {
  margin-bottom: 0;
}
.footer-icons-wrapper__item {
  align-self: center;
}
.footer__socials {
  padding: 0;
  max-width: 25px;
}
.footer__adress {
  margin-top: 37px;
  width: 353px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  mix-blend-mode: darken;
}
.footer__map-img {
  object-fit: cover;
  margin-top: 24px;
  margin-bottom: 22px;
}
.footer__maps {
  border-top: #000 solid 1px;
  margin: 0 12px;
  padding: 3.5px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  mix-blend-mode: darken;
}
.footer__maps_last {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  mix-blend-mode: darken;
  padding: 3.5px 0;
  margin: 0;
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
}
.footer__maps_last > .col {
  padding-inline: 0;
}
.footer__navimg {
  transform: scale(0.5);
  margin-right: -13px;
}
.footer__navimg_last {
  transform: scale(0.55) rotate(270deg);
  margin-right: -22px;
}
.footer__dropdown {
  display: none;
}
.footer__dropdown_station {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 10.8px;
  text-align: left;
  padding-bottom: 12px;
}
.footer__dropdown_dist {
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 10px;
  text-align: left;
  color: #999;
  padding-bottom: 14px;
}
.footer__dropdown_desc {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding-bottom: 24px;
}
.footer-license {
  margin-bottom: 160px;
}
.footer-license__first {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.footer-license__others {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
.footer-license__others_underline {
  text-decoration: underline;
}

.swiper {
  width: 100%;
}
.swiper-container-feedback {
  height: 406px;
}
.swiper-container-feedback-wrapper {
  height: 406px;
}
.swiper-container-feedback-slide {
  margin-right: 20px;
  width: 100%;
}
.swiper-container-feedback-slide-active {
  margin-right: 20px;
  width: 100%;
}

.slide-1 {
  background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_1.png);
  background-size: cover;
}
.slide-2 {
  background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_2.png);
  background-size: cover;
}
.slide-3 {
  background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_3.png);
  background-size: cover;
}
.slide-4 {
  background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_4.png);
  background-size: cover;
}
.slide-5 {
  background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_5.png);
  background-size: cover;
}
.slide-6 {
  background-image: url(../../media/swiper/Property\ 1=CLINIC_CAROUSEL_6.png);
  background-size: cover;
}

.page-1 {
  background-color: rgb(242, 242, 242);
  padding: 0 20px;
}
.page-1__header {
  width: 353px;
  height: 55.14px;
  margin-top: 45px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  align-items: end;
}
.page-1__breadcrumbs {
  height: 12px;
  margin-top: 9px;
  padding-bottom: 19px;
  border-bottom: solid #000 1px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-inline: 11px;
  padding-inline: 0;
  /* TEXT 2 */
  color: #999999;
  position: relative;
}
.page-1-slider {
  margin-top: 17px;
}
.page-1-slider__scroller {
  width: 100%;
  margin: 11px 0;
  display: flex;
  flex-direction: row;
  column-gap: 71px;
}
.page-1-slider__scroller__l {
  padding-right: 0 !important;
  width: 50px;
  padding-right: 0;
  object-fit: scale-down;
  transform: rotate(180deg);
  opacity: 30%;
  margin-left: -10px;
}
.page-1-slider__scroller__r {
  padding-right: 0 !important;
  width: 50px;
  padding-left: 0;
  object-fit: scale-down;
  margin-right: -10px;
}
.page-1-slider__scroller__t {
  width: 20px;
  padding: 0;
  /* identical to box height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.page-1__text {
  display: flex;
  width: 100%;
  height: 60px;
  text-align: left;
  justify-content: center;
  padding-top: 24px;
}
.page-1__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 37px 0 60px -37px;
  width: 100%;
}
.page-1__price_word {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: flex-end;
}
.page-1__price_number {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
}
.page-1__button {
  margin-inline: 11px;
}
.page-1__desc-title {
  margin-top: 82px;
  margin-bottom: 28px;
}
.page-1__desc-text {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.page-1__desc-text:last-child {
  margin-bottom: 0;
}
.page-1__desc-link {
  display: flex;
  justify-content: flex-end;
  margin: 28px 0;
}

.procedure {
  padding: 0 20px;
  background-color: rgb(242, 242, 242);
  height: 745px;
}
.procedure__title {
  margin-inline: 11px;
  padding: 11px 0;
  border-bottom: #000 1px solid;
}
.procedure__radio {
  margin-top: 35px;
  margin-bottom: 14px;
}
.procedure__desc {
  margin-bottom: 10px;
}
.procedure__desc:last-child {
  padding-bottom: 48px;
  margin-bottom: 0;
}
.procedure .card {
  border-radius: 12px;
  border: #000 1px solid;
  background-color: rgb(242, 242, 242);
  padding: 10px;
  margin-bottom: 34px;
}
.procedure .card__l {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: uppercase;
}
.procedure .card__r {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  /* or 200% */
  text-align: right;
  /* TEXT 1 */
  color: #242424;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.yes-no {
  background-color: rgb(242, 242, 242);
  height: 576px;
  padding: 0 20px;
}

.yes-wrapper {
  padding: 0;
  margin-left: 11px;
  width: 170px;
}
.yes-wrapper__title {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.no-wrapper {
  position: relative;
  top: 180px;
  margin-left: 15px;
  width: 172px;
}
.no-wrapper__title {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.protocol {
  padding: 0 20px;
  background-color: rgb(242, 242, 242);
}
.protocol__title {
  padding-top: 18px;
  padding-bottom: 9px;
  padding-inline: 0;
  margin-inline: 11px;
  border-bottom: #000 1px solid;
}
.protocol-video-wrapper {
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.protocol-video-wrapper-item__text {
  /* video capture */
  width: 232px;
  margin: 0 auto;
  margin-top: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  /* TEXT 1 */
  color: #242424;
}
.protocol-video-wrapper-item__link {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.treatment-cost {
  background-color: rgb(242, 242, 242);
  padding: 0 20px;
}
.treatment-cost__title {
  margin-top: 34px;
}
.treatment-cost__text {
  margin-top: 15px;
}
.treatment-cost-table {
  margin-top: 50px;
}

.treatment-doctors {
  padding: 0 20px;
  height: 768px;
  background-color: #f2f2f2;
}
.treatment-doctors__title {
  margin-top: 85px;
}
.treatment-doctors-container {
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-inline: 0;
  margin-inline: 0;
}
.treatment-doctors__link {
  margin-top: 64px;
  margin-left: 129px;
  display: flex;
  justify-content: center;
}

.articles {
  height: 824px;
  padding: 0 20px;
  background-color: #f2f2f2;
}
.articles__title {
  margin-top: 17px;
}
.articles__text {
  margin-top: 39px;
  width: 100%;
  height: 80px;
  margin-left: 121px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* TEXT 1 */
  color: #242424;
}
.articles__link {
  width: 122px;
  height: 32px;
  margin: 63px auto;
}
.articles-container {
  margin-top: 70px;
  background-color: #f2f2f2;
  height: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-inline: 0;
  margin-inline: 0;
}

.personal-protocol {
  position: relative;
  height: 970px;
  background: #e0d8d0;
}
.personal-protocol .photos-wrapper {
  height: 970px;
  background:
    url(../../media/treatment/personal-protocol/62a483e603a3ed0869d1aa90ff1aff9c\ 2.webp)
      left bottom no-repeat,
    url(../../media/treatment/personal-protocol/15xn2dhcpcpaasgraso0anji1ngo8w68\ 1.webp)
      right bottom no-repeat;
  background-size: contain;
}
.personal-protocol .photos-wrapper__item {
  height: 617px;
  width: auto;
  overflow-y: hidden;
}
.personal-protocol .t-n-b {
  height: 677px;
  padding-top: 72px;
  padding-bottom: 0;
}
.personal-protocol .t-n-b__text {
  height: 120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
  mix-blend-mode: darken;
}
.personal-protocol .t-n-b__arrow {
  width: 40px;
  margin-top: 70px;
}
.personal-protocol .t-n-b__buttons {
  background-color: rgba(8, 229, 190, 0.45);
  backdrop-filter: blur(10px);
  color: #000;
  width: 360px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 580px;
  min-height: 70px;
}
.personal-protocol .t-n-b__buttons__f,
.personal-protocol .t-n-b__buttons__m {
  border: #000 solid 1px;
  border-radius: 50px;
  padding: 14px 0;
  width: 106px;
  height: 10.83px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.personal-protocol .t-n-b__buttons__t {
  /* ПЕРСОНАЛЬНЫЙ ПРОТОКОЛ */
  width: 114px;
  height: 26px;
  font-family: Montserrat;
  font-size: 8.43px;
  font-weight: 500;
  line-height: 9.94px;
  letter-spacing: 0.03em;
  text-align: center;
  /* or 108% */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.faq-container {
  padding: 0 20px;
  background-color: #f2f2f2;
}
.faq-container__title {
  margin-top: 56px;
  margin-bottom: 24px;
}
.faq-container__bottom {
  height: 155px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.problem-first-screen {
  height: 617px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-causes {
  height: 617px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-routes {
  height: 617px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-progress-variants {
  height: 617px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-not-everybody {
  height: 951px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-types {
  height: 738px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-danger {
  height: 470px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-all-treatments {
  height: 651px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-articles {
  height: 617px;
  background-color: #d9d9d9;
  padding: 0 20px;
}

.problem-mc-treatment {
  height: 1087px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

.problem-proof {
  height: 617px;
  background: linear-gradient(
    180deg,
    rgb(242, 242, 242) 0%,
    rgba(8, 229, 190, 0.5) 85.5%
  );
  padding: 0 20px;
}
.problem-proof-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  margin-top: 108px;
}
.problem-proof-img-wrapper__item1 {
  width: 94px;
  height: 30px;
}
.problem-proof-img-wrapper__item2 {
  width: 103.28px;
  height: 36.51px;
}
.problem-proof-img-wrapper__item3 {
  width: 82.87px;
  height: 34.15px;
}

[data-dropdown-opened="false"] {
  display: none !important;
}

[data-procedure-1="invisible"] {
  display: none !important;
}

[data-procedure-2="invisible"] {
  display: none !important;
}

#twentytwentycontainer {
  height: 400px !important;
}

/*# sourceMappingURL=treatment.css.map */
